{% extends "base.html" %}

{% block title %}Orders{% endblock %}


{% block content %}
{% if order_list %}

<style>
.gel_row {
  grid-template-columns: 1fr 2fr 3fr 3fr;
}
</style>
  
<div class="gel_table">
  <div class="gel_thead">
    <div class="gel_row">
          <div>reference / (id_order)
          </div>
          <div>customer</div>
          <div>state</div>
          <div>date</div>
    </div>
  <div class="gel_tbody">
    {% for order in order_list %}
      <div class="gel_row">
          <div><a href="{% url 'prestashop:order_detail' order.id_order %}">{{order.reference}}</a> <br />
            (<a href="{% url 'prestashop:order_detail' order.id_order %}">{{order.id_order}}</a>)
          </div>
          <div><a href="{% url 'prestashop:order_detail' order.id_order %}">{{order.firstname}} {{order.lastname}}</a></div>
          <div><a href="{% url 'prestashop:order_detail' order.id_order %}">{{order.order_state}}</a></div>
          <div><a href="{% url 'prestashop:order_detail' order.id_order %}">{{order.date_add}}</a></div>
      </div>
      {% endfor %}
  </div>
</div>
  {% else %}
    <p>There are no orders.</p>
  {% endif %}     
{% endblock content %}



{% block javascript %}
{{ super() }}
{% endblock %}
