{% extends "base.html" %}

{% block title %}Order Detail{% endblock %}


{% block content %}
{% if orderdetail_list %}
    <table>
      <thead>
        <tr>
          <th>id_order_detail</th>
          <th>product_reference</th>
          <th>ean13</th>
          <th>product_quantity</th>
          <th>unity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for order in orderdetail_list %}
      <tr class="product_row">
          <td>{{order.id_order_detail}}</td>
          <td>{{order.product_reference}}</td>
          <td class="ean13_col">{{order.product_ean13}}</td>
          <td class="qnt_col">{{order.product_quantity}}</td>
          <td>{{order.unity}}</td>
          <td><input type="checkbox"></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no orders.</p>
  {% endif %}     
{% endblock content %}



{% block javascript %}
{{ super() }}
<script>
function process(code) {
  alert(code);
  $('.product_row').each(function(){
    tt = $(this).find('.ean13_col');
    console.log( tt );
    console.log( tt[0] );
    console.log( tt[0].text() );
    if (tt==code) {
      console.log( "!!!!");
      $(this).find('checkbox').prop('checked',true)
    }
  });
}


var code='';
  $( "body" ).keyup(function( event ) {
    console.log( event.originalEvent.key + ' --- ' + code);
  
    if (event.originalEvent.key=='0' ||
        event.originalEvent.key=='1' ||
        event.originalEvent.key=='2' ||
        event.originalEvent.key=='3' ||
        event.originalEvent.key=='4' ||
        event.originalEvent.key=='5' ||
        event.originalEvent.key=='6' ||
        event.originalEvent.key=='7' ||
        event.originalEvent.key=='8' ||
        event.originalEvent.key=='9') {
          code += event.originalEvent.key;
    }
  
    else if (event.originalEvent.key=='Enter' && code.length==13) {
      process(code);
      code = '';
    }
    else {
      code = '';
    }
  
  });
  </script>
{% endblock %}
