{% extends "base.html" %}

{% block title %}Order Detail{% endblock %}


{% block content %}
{% if orderdetail_list %}
<div class="gel_table">
  <div class="gel_thead">
    <div class="gel_row">
      <div>reference / ean13</div>
      <div>units</div>
      <div>qnt</div>
      <div></div>
    </div>
  </div>

  <div class="gel_tbody">
  {% for order in orderdetail_list %}
    <div class="product_row gel_row">
      <div>{{order.product_reference}}<br>
        {{order.product_ean13}}
      </div>
      <div class="qnt_col">{{order.unity}}</div>
      <div>{{order.product_quantity}}</div>
      <div><input type="checkbox" checked="checked"></div>
    </div>
  {% endfor %}
  </div>
</div>
  {% else %}
    <p>There are no orders.</p>
  {% endif %}     
{% endblock content %}



{% block javascript %}
{{ super() }}
<script>
function process(code) {
  //alert(code);
  $('.product_row').each(function(){
    tt = $(this).find('.ean13_col');
    console.log( tt );
    console.log( tt[0] );
    ttt = tt.text()
    console.log( '? ' + ttt + ' == ' + code);
    if (ttt==code) {
      console.log( "!!!!");
      $(this).find('input[type=checkbox]').prop('checked',true)
    }
  });
}


var code='';
  $( "body" ).keyup(function( event ) {
    console.log( event.originalEvent.key + ' --- ' + code);
  
    if (event.originalEvent.key=='0' ||
        event.originalEvent.key=='1' ||
        event.originalEvent.key=='2' ||
        event.originalEvent.key=='3' ||
        event.originalEvent.key=='4' ||
        event.originalEvent.key=='5' ||
        event.originalEvent.key=='6' ||
        event.originalEvent.key=='7' ||
        event.originalEvent.key=='8' ||
        event.originalEvent.key=='9') {
          code += event.originalEvent.key;
    }
  
    else if (event.originalEvent.key=='Enter' && code.length==13) {
      process(code);
      code = '';
    }
    else {
      code = '';
    }
  
  });
  </script>
{% endblock %}
