{% extends "base.html" %}

{% block title %}Products{% endblock %}


{% block content %}
{% if ps17product_list %}
    {% for ps17product in ps17product_list %}
        <div class="prestashop_ps17product">
            <div class="blog_a">
                {{ ps17product.id_product }}
            </div>
            <div class="blog_body">
                {{ps17product.reference}}
            </div>
    </div>
    {% endfor %}
  {% else %}
    <p>There are no products yet.</p>
  {% endif %}     
{% endblock content %}



{% block javascript %}
{{ super() }}
{% endblock %}
